<div class="col-xs-2" style="padding-right: 0; margin-top: 50px;"> <!-- required for floating -->
  <!-- Nav tabs -->
  <% if user_signed_in? %>
  <ul class="nav nav-tabs tabs-left"><!-- 'tabs-right' for right tabs -->
    <% Room.all.each do |room| %>
		<li><%= link_to room.name, room, class: "btn btn-block btn-default"%></li>
	<% end %>
  </ul>
  <%end%>
</div>